<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THIS IS HOME PAGE !</h1>
    <h2><%= 1+2 %></h2>
    <h2><%= "bhavy".toUpperCase() %></h2>
    <h5><%= ["kali billi","Bhigi bili"][0] %></h5>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat consequatur blanditiis fugiat, modi vero alias quia eos reiciendis animi esse iure, fuga dignissimos non quidem excepturi deserunt iste ab ad accusamus doloremque hic est? Id, aperiam nobis at qui asperiores cumque sed repellat earum hic ex quia repellendus possimus. Eligendi accusamus dicta exercitationem asperiores reiciendis nisi debitis reprehenderit aliquid ea itaque, qui doloribus, temporibus odio distinctio amet molestias eos tempora quam ut accusantium suscipit dolorem. Reiciendis repudiandae accusamus distinctio et, accusantium ab nostrum harum, recusandae velit officiis nisi, explicabo amet quia rem consequatur alias omnis laudantium voluptatibus blanditiis? Nostrum, sequi.
    </p>
    <button>CLICK ME CLICK ME CLICK MW ;)</button>
</body>
</html>