<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h2>Post :- </h2>
    <p>Post ID => <%= post.id %></p>
    <div class="posts">
        <h4 class="user">@<%= post.username %></h4>
        <p><%= post.content %></p>
    </div>
</body>
</html>
<!-- The new posts v=created will not be have aany id so the button will not woek on them therefore we use UUID package for this issue we can also use a counter variable for them but that would be very basic -->