<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Total number of users in database :- <%= count %> </h3>
    <button>Join karle bhai tu bhi</button>
</body>
</html>