<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ek baar me sahi se likh dia kar na </title>
</head>
<body>
    <h3>Le kar edit ! :) </h3>
    <p>ID : <%= chat._id %></p>
    <p>TO : <%= chat.to %></p>
    <p>FROM : <%= chat.from %></p>
    <form action="">
        <textarea name="msg" id=""><%= chat.msg %></textarea>
    </form>
</body>
</html>