<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All CHats !! </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h3>Le ye rahi teri chette ! </h3>
    <form action="/chats/new" method="get" >
        <button>Aur baate karni hai mujhe to</button>
    </form>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p>FROM : <%= chat.from %> </p>
            <div class="msg">
                <p>MESSAGE : <%= chat.msg %> </p>
            </div>
            <p>TO : <%= chat.to %> </p>
        </div>
        <hr>
    <% } %>
</body>
</html>

