<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baate karalo din Bhar</title>
</head>
<body>
    <h3>Le kar baate </h3>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Bhejne wala">
        <textarea name="msg" >yaha pe Likh apna randi rona </textarea>
        <input type="text" name="to" placeholder="Lene wala">
        <button>Bhej di jaaye ! </button>
    </form>
</body>
</html>